@import url(./page.css);
@import url(./titlebar.css);

body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "JetBrains Mono";
}

.flex-col {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
